extends layout
block head
  link(rel="stylesheet", href="/stylesheets/show.css")
  script(src="/javascripts/show.js")
block body
  body.page.page-show
    .js-main-content
      .header Скриншот загружен #{date}
      .image
        a(href="javascript:void(0);").js-toggle-popup.toggle-popup(title="Открыть в полном размере")
          img(src=`${src}`)
    .js-popup.popup.hidden
      span.helper
      a(href="javascript:void(0);").js-toggle-popup.toggle-popup
        img(src=`${src}`)
